* {
    font-size: 14px;
    
}
.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
}

.nav {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
    
.leftalign {
    float: left;
}
    
.rightalign {
    float: right;
}
    
.centre{
    margin: auto
}
/* .profile{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    background-image: url("../Downloads/misc-challenge-6.JPG");
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
} */

.google{
    margin-top: 58px;
}

li {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 14px; 
    margin: 5px;
    vertical-align: middle;
}

li a {
    text-decoration: none;
}

li a {
    color: rgb(68, 68, 70);
    text-decoration: none; 
    padding-right: 5px;
  }

li a:hover {
     text-decoration: underline;
  }


.languages{
    text-decoration: none; 
    padding-right: 5px;
}

.languages a:hover{
    text-decoration: underline;
}

  .magbutton {
      width: 20px;
      height: 20px;
      display: block;
      margin: right;
      transform: translate(70%,-180%);
      border: none;
      background: transparent;
      background-image: url(https://img.icons8.com/android/24/000000/search.png);
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
  }

  .textinput{
 
    padding: 5px 8px 0px 16px;
    padding-left: 14px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin:  auto;
    width: 582px;

  }

  form{
      margin-top: 30px;
      margin: auto;
  }

  .searchbutton{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }